<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/proyectos">Proyectos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/quienes">Quienes somos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contacto">Contacto</a>
      </li>
      <li class="nav-item" style="margin-left:500px;" *ngIf="!estaLogueado()">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" style="margin-left:500px;" *ngIf="estaLogueado()">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- https://www.youtube.com/watch?v=plX3fTnCLkU&list=PLU8oAlHdN5BnNAe8zXnuBNzKID39DUwcO&index=46 -->
<!--
  ng build --configuration production --aot

  npm install -g firebase-tools
-->